::ng-deep {
    .patient-edit-dialog {
        min-width: 500px;

        .mat-mdc-dialog-title {
            padding: 0;
            margin: 0;
        }

        .mat-mdc-dialog-content {
            padding: 0;
            margin: 0;
            max-height: 70vh;
            overflow-y: auto;
        }

        .mat-mdc-dialog-actions {
            padding: 0;
            margin: 0;
        }

        .mat-mdc-form-field {
            width: 100%;
        }
    }
}