::ng-deep {
    .confirm-dialog {
        .mat-mdc-dialog-title {
            padding: 0;
            margin: 0;
        }

        .mat-mdc-dialog-content {
            padding: 0;
            margin: 0;
        }

        .mat-mdc-dialog-actions {
            padding: 0;
            margin: 0;
        }
    }
}